## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2025-11-27 09:08:12--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
162.125.69.18i www.dropbox.com (www.dropbox.com)...
Connessione a www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connesso.
302 Found HTTP inviata, in attesa di risposta...
Posizione: https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9 [segue]
--2025-11-27 09:08:12--  https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9
Riutilizzo della connessione esistente a www.dropbox.com:443.
302 Found HTTP inviata, in attesa di risposta...
Posizione: https://uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com/cd/0/inline/C1-lahKG1deFL9XGUjvA-9fn1nmjfkzD9Pniu5TcCzsCoY5uT6PWrZj3HjxyqSuRup7KaCImF5mTTmx57kgoaQJOFcjJC6ppR1ZUbmC1S-7AGgfh1GVaW6cFZly2Q7qTPCc/file# [segue]
--2025-11-27 09:08:13--  https://uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com/cd/0/inline/C1-lahKG1deFL9XGUjvA-9fn1nmjfkzD9Pniu5TcCzsCoY5uT6PWrZj3HjxyqSuRup7KaCImF5mTTmx57kgoaQJOFcjJC6ppR1ZUbmC1S-7AGgfh1GVaW6cFZly2Q7qTPCc/file
Risoluzione di uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com (uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com)... 162.125.69.15
connesso.ne a uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com (uc37692f3e17b1c27795a3b11342.dl.dropboxusercontent.com)|162.125.69.15|:443...
200 OKsta HTTP inviata, in attesa di risposta...
Lunghezza: 33179236 (32M) [text/plain]
Salvataggio in: «/Users/enri/data/data_000637.txt.1»

data_000637.txt.1   100%[===================>]  31,64M  12,2MB/s    in 2,6s

2025-11-27 09:08:16 (12,2 MB/s) - «/Users/enri/data/data_000637.txt.1» salvato [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [23]:
import pandas as pd 
import numpy as np 

#1 
N=15000
file_name= '/Users/enri/data/data_000637.txt.1'
df=pd.read_csv(file_name)

raw= pd.DataFrame(data.head(N))


raw

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
...     ...   ...          ...         ...         ...       ...
14995     1     1            4  3869200316        3399         9
14996     1     1           17  3869200316        3400        15
14997     1     1           10  3869200316        3530        16
14998     1     1            8  3869200316        3533        18
14999     1     0          139  3869200316        3539         0

[15000 rows x 6 columns]

In [26]:
#2\. Find out the number of BX in a ORBIT (the value 'x').
df_subset = df[['ORBIT_CNT', 'BX_COUNTER']]

bx_count_table = df_subset.groupby('ORBIT_CNT').size().reset_index(name='BX_count')

print(bx_count_table)

        ORBIT_CNT  BX_count
0      3869200167        43
1      3869200168        85
2      3869200169       127
3      3869200170        98
4      3869200171       109
...           ...       ...
10996  3869211167       208
10997  3869211168       109
10998  3869211169       191
10999  3869211170       137
11000  3869211171        22

[11001 rows x 2 columns]

In [39]:
#3\. Find out how much the data taking lasted. You can either make an estimate based 
#on the fraction of the measurements (rows) you read, or perform this check precisely by reading out
#the whole dataset.

Mmin= df['BX_COUNTER'].max
Mmin 


A = df['ORBIT_CNT'].max
B= df['ORBIT_CNT'].min
C = (A - B)*( Mmin+1)

a= df[df['ORBIT_CNT']==df['ORBIT_CNT'].max()['BX_COUNTER'].max
b=df[df['ORBIT_CNT']==df['ORBIT_CNT'].min()['BX_COUNTER'].min


inizio= B*(Mmin+1)+b
fine=A*(Mmin +1) +a
durata= fine-inizio
durata
#print( f'le ore del data taking sono:{C}')


#NON CI HO CAPITO NULLA

SyntaxError: invalid syntax. Perhaps you forgot a comma? (815606169.py, line 13)